@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Bebas+Neue&display=swap');

@font-face {
   font-family: 'Android';
   src: url(./Exercicios/ex021/Fontes/idroid.otf) format('opentype');
   font-size: medium;
}

* {
   margin: 0px;
   padding: 0px;
}

:root {
   --cor0: #f9ebf2;
   --cor1: #f3e2e8;
   --cor2: #f3b3b8;
   --cor3: #f58f9a;
   --cor4: #3c363b;
   --cor5: #272426;

   --fonte-padrao: 'Arial', 'Verdana', 'Helvetica', sans-serif ; 
   --fonte-destaque: 'Bebas Neue', 'Barlow Condensed', sans-serif;
   --fonte-android: 'Android', 'Barlow Condensed', cursive;
}

body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

a.externo::after {
   content: '\00A0\1F517';
}

header {
   background-image: linear-gradient(180deg, var(--cor1),var(--cor4));
   min-height: 150px;
   text-align: center;
}
header > h1 {
   color: var(--cor0);
   font-family: var(--fonte-destaque);
   font-size: 100px;
   font-weight: lighter;
   padding-top: 30px;
   margin-bottom: 20px;
   text-shadow: 0px 0px 10px #000000;
}

header > p {
   font-family: var(--fonte-destaque);
   color: var(--cor0);
   font-size: 18.5pt;
   max-width: 600px;
   margin: auto;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.747);
}

nav {
   background-color: var(--cor5);
   padding: 10px;
   padding-top: 30px;
   box-shadow: 0px 10px 10px black;
}

nav > a {
   padding: 10px;
   color: var(--cor0);
   text-decoration: none;
   font-weight: bold;
   transition-duration: 0.5s;
   line-height: 2em;
}

nav > a:hover {
   background-color: var(--cor2);
   color: var(--cor5);
   border-radius: 5px 5px 0px 0px;
}
main {
   background-color: var(--cor0) ;
   min-width: 320px;
   max-width: 1500px;
   margin: auto;
   margin-bottom: 20px;
   padding: 10px 20px 10px 20px;
   box-shadow: 0px 0px 10px rgb(41, 65, 65);
   border-radius: 0px 0px 10px 10px;
}

main img {
   width: 100%;
   margin: auto;
}

main img.pequena {
   max-width: 400px;
   display: block;
   margin: auto;
}

main h1 {
   color: var(--cor5);
   font-family: var(--fonte-android);
   font-size: 3em;
   padding: 5px;
   text-align: center;
}

main h2 {
   color: var(--cor5);
   font-family: var(--fonte-android);
   padding: 5px 0px 5px 15px;
   background-image: linear-gradient(90deg, var(--cor3), var(--cor0));
   border-radius: 5px 0px 0px 5px;
}

main p {
   font-size: 1em;
   text-align: justify;
   text-indent: 15px;
   line-height: 2em;
   margin: 15px 0px 15px 0px;
}

main > article > p {
   line-height: 2em;
}

main strong {
   color: var(--cor5);
   font-weight: bold;
}

main a {
   text-decoration: none;
   font-weight: bold;
   color: var(--cor5);
   background-color: var(--cor3);
   padding: 2px 4px;
}

main > article > p > a:hover {
   text-decoration: underline;
   color: var(--cor5);
   background-color: var(--cor2);
}

div.video {
   background-color: var(--cor5);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   padding-bottom: 59%;
   position: relative;
}

div.video > iframe {
   position: absolute;
   top: 3%;
   left: 3%;
   width: 95%;
   height: 95%;
}

aside {
   background-color: var(--cor1);
   padding: 10px;
   border-radius: 10px 0px 0px 10px;
   box-shadow: 3px 3px 8px var(--cor5);
}

aside > h3 {
   background-color: var(--cor4);
   color: var(--cor0);
   padding: 10px;
   margin: -10px -10px 0px -10px;
   border-radius: 5px 0px 0px 0px;
}

aside > ul {
   list-style-position: inside;
   list-style-type: '\1F5F8\00A0'; 
   columns: 2;
}

aside > ul > li {
   font-weight: bold;
   color: var(--cor5);
}

footer {
   background-color: var(--cor5);
   color: var(--cor0);
   text-align: center;
   font-size: 0.8em;
   padding: 5px;
}

footer a {
   color: var(--cor0);
   font-weight: bold;
   text-decoration: none;
}

footer > a:hover {
   text-decoration: underline;
   color: var(--cor3);
}